<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boostrap_table_demo</title>

</head>
<body>
<!--<div style="border:1px solid #000;width:100px;height:100px;">-->
<!--    <p style="margin:10px;">这是一段给了上下左右四个方向的外边距的文字</p>-->
<!--</div>-->
<!--<div style="border:1px solid #000;width:100px;height:100px;">-->
<!--    <p style="padding:10px;">这是一段给了上下左右四个方向的内边距的文字</p>-->
<!--</div>-->

哈哈<input type="number" name="points" min="1" max="10"  style="text-align: center"/>



</body>
</html>